.FormWrapper {
    width: 400px;
    background: white;
    margin: auto;
    
}

.Formy form {
    font-family: 'roboto', sans-serif;
    width: 200px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;        
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    color: #555;
  }
  
.Formy input::-webkit-input-placeholder,
.Formy textarea::-webkit-input-placeholder {
    font: inherit;
    -webkit-transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
.Formy h1 {
    background: rgb(88, 160, 255);
    padding: 20px;
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05);
    border-radius: 3px 3px 0 0;
  }

.Formy input,
  textarea {
    font: inherit;
    font-size: 0.8em;
    margin: 3px 2px 10px;
    width: 400px;
    display: block;
    border: none;
    padding: 20px 0 10px;
    border-bottom: solid 1px #03A9F4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #03A9F4));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
    background-position: -400px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
    -webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    resize: none;
    overflow: hidden;
  }
.Formy input:focus::-webkit-input-placeholder,
.Formy textarea:focus::-webkit-input-placeholder {
    color: #03A9F4;
  }
.Formy input:focus, input:valid,
.Formy textarea:focus,
.Formy textarea:valid {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
.Formy input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder,
.Formy textarea:focus::-webkit-input-placeholder,
.Formy textarea:valid::-webkit-input-placeholder {
    font-size: 0.8em;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    visibility: visible !important;
    opacity: 1;
  }
  
.Formy .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
.Formy .flex textarea {
    line-height: 120%;
  }
  
.Formy button {
    font-family: 'roboto', sans-serif;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    border: none;
    background: #03A9F4;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 400px;
    color: white;
    margin: 30px 0 0 0px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
.Formy button:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
.Formy a {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: #03A9F4;
    display: inline-block;
    margin: 50px calc(50% - 21px);
    white-space: nowrap;
    padding: 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    -webkit-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    font-family: Roboto, sans-serif;
    text-decoration: none;
    -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  }
.Formy a i {
    margin-right: 20px;
    -webkit-transition: margin-right 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: margin-right 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
.Formy a:hover {
    width: 134px;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
.Formy a:hover i {
    margin-right: 10px;
  }